* {
    margin: 0;
    padding: 0;
}

html {
    background-color: teal;
    color: teal;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

div {
    display: flex;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    background-image: url("food.jpg");
    background-size: cover;
    height: 100%;
}

h1 {
    background-color: white;
    margin: 2%;
    border-radius: 5px;
}

#input {
    font-size: 32px;
    margin: 1%;
    border-radius: 5px;
    width: 70%;
}

button {
    margin: 1%;
    font-size: 32px;
    border-radius: 5px;
    padding: 1%;
    background-color: teal;
    font-family: inherit;
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    div {
        width: 60%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    div {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    div {
        width: 90%;
    }

    h1 {
        font-size: 1.75em;
    }

    button {
        font-size: 1.75em;
    }
}